In [170]:
import pandas as pd
import datetime as dt

##Extracci√≥n de datos

In [171]:
df1=pd.read_csv("Datasets/datasetin/Customer dataset on Ecommerce.csv",encoding='mbcs',dtype={"customer_id": str})
df2=pd.read_csv("Datasets/datasetin/E-commerce company_s online sales.csv",encoding='mbcs',dtype={"customer_id": str})
df3=pd.read_csv("Datasets/datasetin/Forecast of potential customers in 2022-2025.csv",encoding='mbcs')
df4=pd.read_csv("Datasets/datasetin/Order delivery in the US.csv",encoding='mbcs')
df5=pd.read_csv("Datasets/datasetin/Order Details on Ecommerce in US.csv",encoding='mbcs')
df6=pd.read_csv("Datasets/datasetin/Order information of sellers in the US.csv",encoding='mbcs')
df7=pd.read_csv("Datasets/datasetin/Order on Ecommerce in US.csv",encoding='mbcs',dtype={"customer_id": str})
df8=pd.read_csv("Datasets/datasetin/Product details on Ecommerce.csv",encoding='mbcs')

##Informacion de los datasets

In [172]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     10000 non-null  object
 1   first_name      10000 non-null  object
 2   last_name       10000 non-null  object
 3   gender          10000 non-null  object
 4   age             10000 non-null  int64
 5   date_of_birth   10000 non-null  int64
 6   month_of_birth  10000 non-null  int64
 7   year_of_birth   10000 non-null  int64
 8   email           9973 non-null   object
 9   phone           9968 non-null   object
 10  address         10000 non-null  object
 11  city            10000 non-null  object
 12  state           10000 non-null  object
 13  ZIP             10000 non-null  int64
 14  latitude        10000 non-null  float64
 15  longitude       10000 non-null  float64
dtypes: float64(2), int64(5), object(9)
memory usage: 1.2+ MB

In [173]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   product_id                    10000 non-null  object
 1   store_id                      10000 non-null  object
 2   product_url                   10000 non-null  object
 3   product_name                  10000 non-null  object
 4   online_retail_seller          10000 non-null  object
 5   pid                           10000 non-null  object
 6   category                      9179 non-null   object
 7   cost_of_product               10000 non-null  int64
 8   discount_offered              10000 non-null  int64
 9   cost_after_discount           10000 non-null  int64
 10  quantity                      10000 non-null  int64
 11  weight_in_gams                10000 non-null  int64
 12  image                         9997 non-null   object
 13  number_of_reviews             9982 non-null   float64
 14  number_of_answered_questions  9235 non-null   float64
 15  average_review_rating         9982 non-null   float64
 16  is_advantage_product          10000 non-null  bool
 17  description                   9999 non-null   object
 18  brand                         7269 non-null   object
 19  product_specifications        9994 non-null   object
dtypes: bool(1), float64(3), int64(5), object(11)
memory usage: 1.5+ MB

In [174]:
df8.head()

,product_id,store_id,product_url,product_name,online_retail_seller,pid,category,cost_of_product,discount_offered,cost_after_discount,quantity,weight_in_gams,image,number_of_reviews,number_of_answered_questions,average_review_rating,is_advantage_product,description,brand,product_specifications
0,6657ea517e5,9ec2a041202,http://www.flipkart.com/alisha-solid-women-s-c...,Alisha Solid Women's Cycling Shorts,Amazon,SRTEH2FF9KEDEFGF,Sports & Outdoors | Outdoor Recreation | Skate...,177,44,221,347,1233,"[""http://img5a.flixcart.com/image/short/u/4/a/...",15.0,1.0,4.9,False,Key Features of Alisha Solid Women's Cycling S...,Alisha,"{""product_specification""=>[{""key""=>""Number of ..."
1,dea641aaa2f,b383efe2d36,http://www.flipkart.com/fabhomedecor-fabric-do...,FabHomeDecor Fabric Double Sofa Bed,Betsy,SBEEH3QGU7MFYJFY,Toys & Games | Learning & Education | Science ...,216,59,275,348,3088,"[""http://img6a.flixcart.com/image/sofa-bed/j/f...",2.0,1.0,4.5,False,FabHomeDecor Fabric Double Sofa Bed (Finish Co...,FabHomeDecor,"{""product_specification""=>[{""key""=>""Installati..."
2,e291975717f,8acab88f23d,http://www.flipkart.com/aw-bellies/p/itmeh4grg...,AW Bellies,Betsy,SHOEH4GRSUBJGZXE,Toys & Games | Arts & Crafts | Craft Kits,183,48,231,443,3374,"[""http://img5a.flixcart.com/image/shoe/7/z/z/r...",17.0,2.0,3.9,False,Key Features of AW Bellies Sandals Wedges Heel...,AW,"{""product_specification""=>[{""key""=>""Ideal For""..."
3,73e239eb23d,5275ba1c2b4,http://www.flipkart.com/alisha-solid-women-s-c...,Alisha Solid Women's Cycling Shorts,Amazon,SRTEH2F6HUZMQ6SJ,Toys & Games | Hobbies | Models & Model Kits |...,176,10,186,305,1177,"[""http://img5a.flixcart.com/image/short/6/2/h/...",1.0,2.0,5.0,False,Key Features of Alisha Solid Women's Cycling S...,Alisha,"{""product_specification""=>[{""key""=>""Number of ..."
4,cff195d0b71,94004ba5c87,http://www.flipkart.com/sicons-all-purpose-arn...,Sicons All Purpose Arnica Dog Shampoo,Amazon,PSOEH3ZYDMSYARJ5,Toys & Games | Puzzles | Jigsaw Puzzles,184,46,230,191,2484,"[""http://img5a.flixcart.com/image/pet-shampoo/...",3.0,2.0,4.7,False,Specifications of Sicons All Purpose Arnica Do...,Sicons,"{""product_specification""=>[{""key""=>""Pet Type"",..."

In [175]:
df1=df1.iloc[:,0:5]

In [176]:
df1.head()

   customer_id first_name last_name  gender  age
0  72c00ba8bc7      James      Butt  Female   33
1  b18a428ac77  Josephine   Darakjy    Male   34
2  2fdd0374a03        Art    Venere    Male   60
3  dc6358b12c3      Lenna  Paprocki  Female   50
4  c12e35b23ad    Donette    Foller  Female   47

In [177]:
df1.iloc[:,]

      customer_id first_name  last_name  gender  age
0     72c00ba8bc7      James       Butt  Female   33
1     b18a428ac77  Josephine    Darakjy    Male   34
2     2fdd0374a03        Art     Venere    Male   60
3     dc6358b12c3      Lenna   Paprocki  Female   50
4     c12e35b23ad    Donette     Foller  Female   47
...           ...        ...        ...     ...  ...
9995  148d6e240b7       Tina    Sherman    Male   39
9996  e4880a8405f       Earl   Jennings  Female   38
9997  037e5833c89      Ellen  Dominguez  Female   43
9998  ef4ad93d2e0       Emma      Clark    Male   54
9999  42c56b99069    Katrina   Schwartz  Female   40

[10000 rows x 5 columns]

In [178]:
df2.head()

,order_id,customer_id,payment_order_id,quatity,online_retail_seller,order_created_hour,order_created_minute,order_created_day,order_created_month,order_created_year,payment_amount
0,d792cb16214,72c00ba8bc7,68405119.0,1.0,Amazon,0.0,1.0,1.0,1.0,2020.0,145.0
1,0d7a144bdd3,b18a428ac77,68405123.0,1.0,Betsy,0.0,4.0,1.0,1.0,2020.0,251.0
2,57da4fc703e,2fdd0374a03,68405206.0,1.0,Betsy,0.0,13.0,1.0,1.0,2020.0,214.0
3,1b038114c75,dc6358b12c3,68405465.0,1.0,Amazon,0.0,19.0,1.0,1.0,2020.0,259.0
4,bb4e55b4fd9,c12e35b23ad,68406064.0,1.0,Amazon,0.0,26.0,1.0,1.0,2020.0,152.0

In [179]:
df2.dropna(inplace=True)

In [180]:
df2.drop(columns=["order_created_hour","order_created_minute","order_created_day","order_created_month","order_created_year"],inplace=True)

In [181]:
df2.head()

,order_id,customer_id,payment_order_id,quatity,online_retail_seller,payment_amount
0,d792cb16214,72c00ba8bc7,68405119.0,1.0,Amazon,145.0
1,0d7a144bdd3,b18a428ac77,68405123.0,1.0,Betsy,251.0
2,57da4fc703e,2fdd0374a03,68405206.0,1.0,Betsy,214.0
3,1b038114c75,dc6358b12c3,68405465.0,1.0,Amazon,259.0
4,bb4e55b4fd9,c12e35b23ad,68406064.0,1.0,Amazon,152.0

In [182]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_id              10000 non-null  object
 1   customer_id           10000 non-null  object
 2   payment_order_id      10000 non-null  float64
 3   quatity               10000 non-null  float64
 4   online_retail_seller  10000 non-null  object
 5   payment_amount        10000 non-null  float64
dtypes: float64(3), object(3)
memory usage: 546.9+ KB

In [183]:
# df3 y df4 no necesarios

In [184]:
df5.head()

      order_id   product_id  quantity
0  d792cb16214  6657ea517e5         1
1  0d7a144bdd3  dea641aaa2f         1
2  57da4fc703e  e291975717f         1
3  1b038114c75  73e239eb23d         1
4  bb4e55b4fd9  cff195d0b71         1

In [185]:
#No se usa
df6.head()

,payment_order_id,height_of_package,width_of_package,length_of_package,payment_fee,payment_method,payment_status,shipping_weight,Warehouse_block,Warehouse_city,order_date
0,68405119,2459,2302,2994,0.00,VOUCHER,PAID,1233,D,New York,27/05/2021
1,68405123,990,2905,2937,7.90,ONLINE,PAID,3088,F,San Jose,27/05/2021
2,68405206,476,2597,1262,5.59,ONLINE,PAID,3374,A,Birmingham,20/04/2021
3,68405465,1968,621,1511,1.59,ONLINE,PAID,1177,B,San Jose,28/05/2021
4,68406064,891,903,2783,0.92,ONLINE,PAID,2484,C,Boston,27/05/2021

In [186]:
df7.head()

,order_id,customer_id,order_date,payment_order_id,quantity,online_retail_seller,order_created_hour,order_created_minute,order_created_day,order_created_month,...,height_of_package,width_of_package,length_of_package,payment_fee,payment_method,payment_status,shipping_weight,Warehouse_block,Warehouse_city,delivery_fee
0,960387648,72c00ba8bc7,27/5/2021,68405119,1,Amazon,0,1,1,1,...,2459,2302,2994,0.00,VOUCHER,PAID,1233,D,New York,34.54
1,1188374829,b18a428ac77,27/5/2021,68405123,1,Betsy,0,4,1,1,...,990,2905,2937,7.90,ONLINE,PAID,3088,F,San Jose,53.40
2,4375262147,2fdd0374a03,20/4/2021,68405206,1,Betsy,0,13,1,1,...,476,2597,1262,5.59,ONLINE,PAID,3374,A,Birmingham,11.12
3,4850000000,dc6358b12c3,28/5/2021,68405465,1,Amazon,0,19,1,1,...,1968,621,1511,1.59,ONLINE,PAID,1177,B,San Jose,11.58
4,4946137764,c12e35b23ad,27/5/2021,68406064,3,Amazon,0,26,1,1,...,891,903,2783,0.92,ONLINE,PAID,2484,C,Boston,36.28

In [187]:
df7.drop(columns=["order_date","order_created_hour","order_created_minute","order_created_day","order_created_month","order_created_year","height_of_package","width_of_package","length_of_package","payment_fee","payment_method","payment_status","shipping_weight","Warehouse_block","Warehouse_city","delivery_fee"],inplace=True)

In [188]:
df7.head()

,order_id,customer_id,payment_order_id,quantity,online_retail_seller,payment_amount
0,960387648,72c00ba8bc7,68405119,1,Amazon,290.54
1,1188374829,b18a428ac77,68405123,1,Betsy,285.40
2,4375262147,2fdd0374a03,68405206,1,Betsy,266.12
3,4850000000,dc6358b12c3,68405465,1,Amazon,196.58
4,4946137764,c12e35b23ad,68406064,3,Amazon,819.28

In [189]:
df8.head()

,product_id,store_id,product_url,product_name,online_retail_seller,pid,category,cost_of_product,discount_offered,cost_after_discount,quantity,weight_in_gams,image,number_of_reviews,number_of_answered_questions,average_review_rating,is_advantage_product,description,brand,product_specifications
0,6657ea517e5,9ec2a041202,http://www.flipkart.com/alisha-solid-women-s-c...,Alisha Solid Women's Cycling Shorts,Amazon,SRTEH2FF9KEDEFGF,Sports & Outdoors | Outdoor Recreation | Skate...,177,44,221,347,1233,"[""http://img5a.flixcart.com/image/short/u/4/a/...",15.0,1.0,4.9,False,Key Features of Alisha Solid Women's Cycling S...,Alisha,"{""product_specification""=>[{""key""=>""Number of ..."
1,dea641aaa2f,b383efe2d36,http://www.flipkart.com/fabhomedecor-fabric-do...,FabHomeDecor Fabric Double Sofa Bed,Betsy,SBEEH3QGU7MFYJFY,Toys & Games | Learning & Education | Science ...,216,59,275,348,3088,"[""http://img6a.flixcart.com/image/sofa-bed/j/f...",2.0,1.0,4.5,False,FabHomeDecor Fabric Double Sofa Bed (Finish Co...,FabHomeDecor,"{""product_specification""=>[{""key""=>""Installati..."
2,e291975717f,8acab88f23d,http://www.flipkart.com/aw-bellies/p/itmeh4grg...,AW Bellies,Betsy,SHOEH4GRSUBJGZXE,Toys & Games | Arts & Crafts | Craft Kits,183,48,231,443,3374,"[""http://img5a.flixcart.com/image/shoe/7/z/z/r...",17.0,2.0,3.9,False,Key Features of AW Bellies Sandals Wedges Heel...,AW,"{""product_specification""=>[{""key""=>""Ideal For""..."
3,73e239eb23d,5275ba1c2b4,http://www.flipkart.com/alisha-solid-women-s-c...,Alisha Solid Women's Cycling Shorts,Amazon,SRTEH2F6HUZMQ6SJ,Toys & Games | Hobbies | Models & Model Kits |...,176,10,186,305,1177,"[""http://img5a.flixcart.com/image/short/6/2/h/...",1.0,2.0,5.0,False,Key Features of Alisha Solid Women's Cycling S...,Alisha,"{""product_specification""=>[{""key""=>""Number of ..."
4,cff195d0b71,94004ba5c87,http://www.flipkart.com/sicons-all-purpose-arn...,Sicons All Purpose Arnica Dog Shampoo,Amazon,PSOEH3ZYDMSYARJ5,Toys & Games | Puzzles | Jigsaw Puzzles,184,46,230,191,2484,"[""http://img5a.flixcart.com/image/pet-shampoo/...",3.0,2.0,4.7,False,Specifications of Sicons All Purpose Arnica Do...,Sicons,"{""product_specification""=>[{""key""=>""Pet Type"",..."

In [190]:
df8=df8.iloc[:,0:7]
df8.drop(columns=["product_url","pid"],inplace=True)

In [191]:
df8.head()

,product_id,store_id,product_name,online_retail_seller,category
0,6657ea517e5,9ec2a041202,Alisha Solid Women's Cycling Shorts,Amazon,Sports & Outdoors | Outdoor Recreation | Skate...
1,dea641aaa2f,b383efe2d36,FabHomeDecor Fabric Double Sofa Bed,Betsy,Toys & Games | Learning & Education | Science ...
2,e291975717f,8acab88f23d,AW Bellies,Betsy,Toys & Games | Arts & Crafts | Craft Kits
3,73e239eb23d,5275ba1c2b4,Alisha Solid Women's Cycling Shorts,Amazon,Toys & Games | Hobbies | Models & Model Kits |...
4,cff195d0b71,94004ba5c87,Sicons All Purpose Arnica Dog Shampoo,Amazon,Toys & Games | Puzzles | Jigsaw Puzzles

##uni√≥n de los datasets

In [192]:
df12=df1.merge(df2,on="customer_id",how='outer')

In [193]:
df12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10274 entries, 0 to 10273
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customer_id           10274 non-null  object
 1   first_name            10257 non-null  object
 2   last_name             10257 non-null  object
 3   gender                10257 non-null  object
 4   age                   10257 non-null  float64
 5   order_id              10000 non-null  object
 6   payment_order_id      10000 non-null  float64
 7   quatity               10000 non-null  float64
 8   online_retail_seller  10000 non-null  object
 9   payment_amount        10000 non-null  float64
dtypes: float64(4), object(6)
memory usage: 802.8+ KB

In [194]:
df125=df12.merge(df5,on="order_id",how='outer')

In [195]:
df125.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11688 entries, 0 to 11687
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customer_id           11667 non-null  object
 1   first_name            11648 non-null  object
 2   last_name             11648 non-null  object
 3   gender                11648 non-null  object
 4   age                   11648 non-null  float64
 5   order_id              11414 non-null  object
 6   payment_order_id      11393 non-null  float64
 7   quatity               11393 non-null  float64
 8   online_retail_seller  11393 non-null  object
 9   payment_amount        11393 non-null  float64
 10  product_id            11396 non-null  object
 11  quantity              11396 non-null  float64
dtypes: float64(5), object(7)
memory usage: 1.1+ MB

In [196]:
df1258=df125.merge(df8,on="product_id",how='outer')

In [197]:
df1258.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11688 entries, 0 to 11687
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             11667 non-null  object
 1   first_name              11648 non-null  object
 2   last_name               11648 non-null  object
 3   gender                  11648 non-null  object
 4   age                     11648 non-null  float64
 5   order_id                11414 non-null  object
 6   payment_order_id        11393 non-null  float64
 7   quatity                 11393 non-null  float64
 8   online_retail_seller_x  11393 non-null  object
 9   payment_amount          11393 non-null  float64
 10  product_id              11396 non-null  object
 11  quantity                11396 non-null  float64
 12  store_id                11396 non-null  object
 13  product_name            11396 non-null  object
 14  online_retail_seller_y  11396 non-null  object
 15  category                10456 non-null  object
dtypes: float64(5), object(11)
memory usage: 1.4+ MB

In [198]:
df1258[df1258["category"].isna()]
df1258.dropna(inplace=True)
df1258.drop_duplicates(inplace=True)

In [199]:
df1258.drop(columns=["order_id","payment_order_id","quatity"])

,customer_id,first_name,last_name,gender,age,online_retail_seller_x,payment_amount,product_id,quantity,store_id,product_name,online_retail_seller_y,category
0,72c00ba8bc7,James,Butt,Female,33.0,Amazon,145.0,6657ea517e5,1.0,9ec2a041202,Alisha Solid Women's Cycling Shorts,Amazon,Sports & Outdoors | Outdoor Recreation | Skate...
1,8029b5d9ab5,Cheyenne,Atkinson,Female,39.0,Amazon,172.0,6657ea517e5,1.0,9ec2a041202,Alisha Solid Women's Cycling Shorts,Amazon,Sports & Outdoors | Outdoor Recreation | Skate...
2,b18a428ac77,Josephine,Darakjy,Male,34.0,Betsy,251.0,dea641aaa2f,1.0,b383efe2d36,FabHomeDecor Fabric Double Sofa Bed,Betsy,Toys & Games | Learning & Education | Science ...
3,0a3112dc495,Claudia,Barber,Male,47.0,Betsy,182.0,dea641aaa2f,1.0,b383efe2d36,FabHomeDecor Fabric Double Sofa Bed,Betsy,Toys & Games | Learning & Education | Science ...
4,2fdd0374a03,Art,Venere,Male,60.0,Betsy,214.0,e291975717f,1.0,8acab88f23d,AW Bellies,Betsy,Toys & Games | Arts & Crafts | Craft Kits
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11646,ffb699b2e82,Brady,Bauer,Female,58.0,Amazon,88.0,b2b56a28e04,1.0,0531780ce60,AutoKraftZ Silicone Car Bumper Guard,Amazon,Office Products | Office & School Supplies | E...
11647,6ef18f2a465,Caroline,Jacobson,Male,25.0,Betsy,202.0,316f4515d74,1.0,8b6550e0bfa,Nine Maternity Wear Women's Fit and Flare Dress,Amazon,Baby Products | Activity & Entertainment | Bou...
11649,7fb7673e880,Mindy,Haas,Male,45.0,Betsy,88.0,fdd71eaf72d,1.0,fbc860bc613,Betty Girl's Maxi Dress,Amazon,Sports & Outdoors | Sports & Fitness | Leisure...
11651,e35b73dc934,Adriana,Mitchell,Male,26.0,Betsy,138.0,34843b00b06,1.0,371abd825bf,Aroma Care Intense Color Nail Polish Combo 175...,Amazon,Toys & Games | Baby & Toddler Toys | Push & Pu...
11653,1f2f8274c0a,Mike,Harvey,Female,53.0,Amazon,219.0,5e03b2e2817,1.0,378d1c939f5,Speedwav 240350 Sun Shade For Tata Indigo CS,Amazon,"Clothing, Shoes & Jewelry | Costumes & Accesso..."

In [200]:
df1258[df1258["customer_id"]=="2c82e1212b8"]

,customer_id,first_name,last_name,gender,age,order_id,payment_order_id,quatity,online_retail_seller_x,payment_amount,product_id,quantity,store_id,product_name,online_retail_seller_y,category
10,2c82e1212b8,Simona,Morasca,Female,49.0,2a0634bc1ea,68408108.0,1.0,Amazon,154.0,bb35283ed13,1.0,5d0960a3c90,Eternal Gandhi Super Series Crystal Paper Weig...,Amazon,Sports & Outdoors | Outdoor Recreation | Skate...
12,2c82e1212b8,Simona,Morasca,Female,49.0,b08b904576c,68410055.0,1.0,Amazon,92.0,02e77a21a02,1.0,5641d4edd5e,"dilli bazaaar Bellies, Corporate Casuals, Casuals",Amazon,Home & Kitchen | Home D??cor | Window Treatmen...

In [201]:
dfcustomer_out=df1258.iloc[:,0:5].drop_duplicates()

In [202]:
dfcustomer_out.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8986 entries, 0 to 11653
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  8986 non-null   object
 1   first_name   8986 non-null   object
 2   last_name    8986 non-null   object
 3   gender       8986 non-null   object
 4   age          8986 non-null   float64
dtypes: float64(1), object(4)
memory usage: 421.2+ KB

In [203]:
dfcustomer_out.to_csv("Datasets/datasetout/customer_out.csv",index=False)

In [204]:
df1258.to_csv("Datasets/datasetout/final_out.csv",index=False)

In [205]:
df1258.head()

,customer_id,first_name,last_name,gender,age,order_id,payment_order_id,quatity,online_retail_seller_x,payment_amount,product_id,quantity,store_id,product_name,online_retail_seller_y,category
0,72c00ba8bc7,James,Butt,Female,33.0,d792cb16214,68405119.0,1.0,Amazon,145.0,6657ea517e5,1.0,9ec2a041202,Alisha Solid Women's Cycling Shorts,Amazon,Sports & Outdoors | Outdoor Recreation | Skate...
1,8029b5d9ab5,Cheyenne,Atkinson,Female,39.0,40932f6a97f,69269003.0,1.0,Amazon,172.0,6657ea517e5,1.0,9ec2a041202,Alisha Solid Women's Cycling Shorts,Amazon,Sports & Outdoors | Outdoor Recreation | Skate...
2,b18a428ac77,Josephine,Darakjy,Male,34.0,0d7a144bdd3,68405123.0,1.0,Betsy,251.0,dea641aaa2f,1.0,b383efe2d36,FabHomeDecor Fabric Double Sofa Bed,Betsy,Toys & Games | Learning & Education | Science ...
3,0a3112dc495,Claudia,Barber,Male,47.0,734b287170b,69269366.0,1.0,Betsy,182.0,dea641aaa2f,1.0,b383efe2d36,FabHomeDecor Fabric Double Sofa Bed,Betsy,Toys & Games | Learning & Education | Science ...
4,2fdd0374a03,Art,Venere,Male,60.0,57da4fc703e,68405206.0,1.0,Betsy,214.0,e291975717f,1.0,8acab88f23d,AW Bellies,Betsy,Toys & Games | Arts & Crafts | Craft Kits

##Analisis de datos

In [206]:
df1258[df1258["customer_id"]=="0a3112dc495"]

,customer_id,first_name,last_name,gender,age,order_id,payment_order_id,quatity,online_retail_seller_x,payment_amount,product_id,quantity,store_id,product_name,online_retail_seller_y,category
3,0a3112dc495,Claudia,Barber,Male,47.0,734b287170b,69269366.0,1.0,Betsy,182.0,dea641aaa2f,1.0,b383efe2d36,FabHomeDecor Fabric Double Sofa Bed,Betsy,Toys & Games | Learning & Education | Science ...

In [207]:
d=df1258[df1258["customer_id"]=="0a3112dc495"].iloc[:,15]

##Categoria mas comprada por el cliente

In [208]:
print(d)

3    Toys & Games | Learning & Education | Science ...
Name: category, dtype: object

In [209]:
a=df1258[df1258["customer_id"]=="0a3112dc495"].iloc[:,15]
b=df1258[df1258["category"]==a.iloc[0]]
b=b["product_name"].drop_duplicates()

##Productos m√°s comprados por el cliente

In [210]:
print(b[0:5])

2                    FabHomeDecor Fabric Double Sofa Bed
528                                   Kielz Ladies Boots
642                                         Credos Boots
650    Kms Ironman_Look_Led_Black11 Digital Watch  - ...
882              20Dresses Brown Shiver Me Timbers Boots
Name: product_name, dtype: object